<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>Nchak へようこそ</h1>
<p><%= link_to 'ログイン', [ :new, :user_session ]  %></p>
<p><%= link_to 'ユーザー登録', [ :new, :user_registration ]  %></p>
<p><%= link_to 'パスワード再発行', [ :new, :user_password ]  %></p>
<p><%= link_to '登録確認メール再送信', [ :new, :user_confirmation ]  %></p>
